
body{
    background-color: lightgray;
    width: 960px;
    margin: 0 auto;
}
header {
    margin: 1em;
    grid-column: 1 / span 3;
    grid-row: 1;
    background-size: cover;
    padding: 3rem;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.5),
                                  rgba(0, 0, 0, 0.5)),
                                url("../images/dataset-cover1.jpg");
    z-index: 1;
    font-weight: 100;
    border-radius: 5px;
    color: #e3bd5b;

}

h1 {
    text-align: center;
    letter-spacing: -2px;
    font-family: "Papyrus", serif;
    font-weigtht: 100;
    text-transform: lowercase;
    z-index: 2;
    color: #e3bd5b;
}

.container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-column-gap: 0.3em;
    grid-row-gap: 0.3em;
    grid-auto-rows: minmax(100px, auto);
    align-items: center;
}
#form-post{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    grid-column: 1 / span 1;
    grid-row: 3;
}

#form-put {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    grid-column: 2 / span 1;
    grid-row: 3;
}
.container > h1 {
    margin: 10px;
    font-family: "Papyrus", serif;
}

#info{
    display: flex;
    flex-direction: row;
    grid-column: 1 / span 2;
    grid-row: 2;
    margin: 1rem;
}

 #form-put > label {
    margin: 5px;
    color: #3d376c;
}
 #form-post > label {
     margin: 5px;
     color: #3d376c;
 }
#submit, #submitEdit {
    margin-top: 5px;
    width: 100px;
    background-color: #34737b;
    color: white;
}

p {
    font-size: 16px;
    font-family: "Papyrus", serif;
    color: #34737b;
    text-align: center;
}

table {
    width: 100%;
    padding: 1rem;
    grid-row: 4 / span 3;
    grid-column: 1 / span 2;
}

tr, td, th {
    border: 1px solid #34737b
}

th, td {
    text-align: left;
    padding: 4px 10px;
}

.google-form {
    grid-column: 1;
    grid-row: 5;
    display: flex;
    flex-direction: column;
}

.google-form {
    grid-column: 1 / span 2;
    grid-row: 5;
    display: flex;
    flex-direction: column;

}


h2 {
    font-weight: lighter;
}
#google-submit {
    margin-bottom: 10px;
    background-color: whitesmoke;
    font-family: "Papyrus", serif;
    border-radius: 5px;
    cursor: pointer;
    display: inline;
    width: 100px;
}


#bookDisplay {
    grid-row: 6;
    grid-column: 1 / span 2;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
img{
    margin: 5px;
}

section {
    grid-row: 6;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-column: 1 / span 2;
}
 img {
    margin: 5px;
     flex-grow: 4;
}
