body{
    background-color: lightgray;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;


}
.container > h1 {
    margin: 10px;
    font-family: "Arial Black", "SansSerif", serif;
}
img {
    width: 300px;
    height: auto;
}

#form-post {
    display: flex;
    flex-direction: column;
}

#form-post > label {
    margin: 5px;
    color: #3d376c;
}
#submit {
    margin-top: 5px;
}